<!DOCTYPE html>  
<html lang="en">  
<head> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>  
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>  
<body>  
    <form method="POST" enctype="multipart/form-data">  
        {% csrf_token %} 
          <div class="form-group">
            <label>Title</label>
            {{ form.title }}  
        </div>
        <div class="form-group">
            <label>Source</label>
            {{ form.source }}  
        </div>
        <div class="form-group">
            <label>Origin</label>
            {{ form.origin }}  
        </div>
        <div class="form-group">
            <label>Categories</label>
            {{ form.categories }}  
        </div>
        <div class="form-group">
            <label>Content</label>
            {{ form.content }}  
        </div>
        {% if type == "PNG" or type == "JPEG" %}
            <div class="form-group" name="image-field">
            <label>Image</label>
            {{ form.image }}  
        </div>
        {% else %}
            <div style="display: block;">
        {% endif %}
        {% if messages %}
            <h1>Please Select an Image</h1>
        {% endif %}
        <div class="form-group">
            <label>Friends Only</label>
            {{ form.friends_only }}  
        </div>
        <div class="form-group">
            <label>Unlisted</label>
            {{ form.unlisted }}  
        </div>
        <button type="submit" >Save</button>  
        <div><a id="delete-button" href="{% url 'deletePost' %}?id={{ id }}">Delete Post</a></div>
    </form>  
</body>  
</html>  