<!-- Code for buttons taken from https://codepen.io/laurapierson/pen/RwNJPxK -->
{% extends 'base.html' %}
<head>
    <title>Create Post</title>
</head>

{% block content %}
<div class="multi-button">
    <form method="post" action="{% url 'editPost' %}?type=TEXT" style="width: auto; min-width: auto">
        {% csrf_token %} 
        <button type='submit'>Plain Text</button>
    </form>
    <form method="post" action="{% url 'editPost' %}?type=MD" style="width: auto; min-width: auto">
        {% csrf_token %} 
        <button type='submit'>Markdown</button>
    </form>
    <form method="post" action="{% url 'editPost' %}?type=APP64" style="width: auto; min-width: auto">
        {% csrf_token %} 
        <button type='submit'>Application64</button>
    </form>
    <form method="post" action="{% url 'editPost' %}?type=PNG" style="width: auto; min-width: auto">
        {% csrf_token %} 
        <button type='submit'>PNG</button>
    </form>
    <form method="get" action="{% url 'editPost' %}?type=JPEG" style="width: auto; min-width: auto">
        <button type='submit'>JPEG</button>
    </form>
</div>

{% endblock %}