<!-- Code for buttons taken from https://codepen.io/laurapierson/pen/RwNJPxK -->
{% extends 'base.html' %}
<head>
    <title>Create Post</title>
</head>

{% block content %}
<div class="multi-button">
    <button onClick="createPost('TEXT')">Plain Text</button>
    <button onClick="createPost('MD')">Markdown</button>
    <button onClick="createPost('PNG')">Image</button>
</div>

<script>
const createPost = (type) => {
    let path = '/editPost/?type=' + type
    location.href = path
}
</script>

{% endblock %}