<!-- https://codepen.io/chancesq/pen/bGpddXE -->

<!doctype html>
{% extends 'base.html' %}
{% load static %}

{% block content %}
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>
<body>
    <div class="post-type">
        <div><a href="{% url 'editPost' %}?type=TEXT">Plain Text</a></div>
        <div><a href="{% url 'editPost' %}?type=MD">Markdown</a></div>
        <div><a href="{% url 'editPost' %}?type=APP64">Application64</a></div>
        <div><a href="{% url 'editPost' %}?type=PNG">PNG</a></div>
        <div><a href="{% url 'editPost' %}?type=JPEG">JPEG</a></div>
    </div>
</body>
</html>
{% endblock %}
