{% extends 'base.html' %}
{% load static %}
{% load templatefunc %}

{% block head %}
<title>Public feed</title>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/feed.css' %}">
{% endblock %}

{% block content %}
    <div class="post-display">
        <div class="action-bar">
            <form action="/user/">
                <p class="text-center">View External User</p>
                <input type="text" name="url" placeholder="http://node.com/user">
                <button class='btn btn-primary' type="submit">Open</button>
            </form>
        </div>
        <div>
        <h2 class="text-center">Public Feed</h2>
        {% for post in posts %} 
        <div class="post">
        {% if post.content_type != "APP64"%}  
        <a href="{% url 'postContent' %}?id={% urltoid post.id %}"><b>{{ post.title }}</b><br>{{ post.content }}<br>
        {% else %}
        <a href="{% url 'postContent' %}?id={% urltoid post.id %}"><b>{{ post.title }}</b><br>
        {% endif %}
            {% if post.image %}
                <img src="{{ post.image.url }}" style="width: 100px; transform: translate(100%)">
            {% endif %}
        </a>
        </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}
