{% extends 'base.html' %}

{% block head %}
<head>
    <title> {{user}} </title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/viewUser.css' %}">

{% endblock %}

{% block content %}
<script>
    /* https://www.geekstrick.com/snippets/how-to-parse-cookies-in-javascript/ */
    const parseCookie = str =>
        str
        .split(';')
        .map(v => v.split('='))
        .reduce((acc, v) => {
            acc[decodeURIComponent(v[0].trim())] = decodeURIComponent(v[1].trim());
            return acc;
        }, {});

    //send a follow request to the server
    function sendFollowRequest(followerURL, followeeURL) {
        let cookies = document.cookie;
        cookies = parseCookie(cookies);

        let data = {
            "followee_url": followeeURL, 
            "follower_url": followerURL
        }
        fetch("/api/follow-request", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": cookies["csrftoken"]
            },
            body: JSON.stringify(data)
        });
    }

    acceptRequest = (follower_id) =>{
        let cookies = document.cookie;
        cookies = parseCookie(cookies);

        fetch(`/api/authors/{{user.id}}/followers/${follower_id}/`, {
            method: "PUT",
            headers: {
                "X-CSRFToken": cookies["csrftoken"]
            }
        });
    }
    followUser = () => sendFollowRequest("{{ requestUserURL }}", "{{ userURL }}")

</script>

<div>
    <div class="info-block">
        <div>
            <a href="{% url 'follower_view' %}" class="button">Followers</a>
            <a href="{% url 'following_view' %}" class="button">Following</a>
            {% if ownProfile %}
                <a href="{% url 'editUser' %}" class="button">Edit Profile</a>
            {% else %}
                {% if not following %}
                <!-- Need to turn this into 2 forms, this doesn't post shit lmao-->
            
            
                    <button type="button" class="button" onclick="followUser()">Follow</button>

                {% else %}
                    <a href="/api/authors/{{request.user.id}}/followers/{{user.id}}/" class="button">Unfollow</a>
                {% endif %}
            {% endif %}
        </div>

        <div class="profile">
            <h1>Username: {{user.username}}</h>
            <br>
            <h1>Github: {{user.github}}</h>
            <br>
            <img src="{{user.profile_image.url}}"/>
        </div>
    </div>



    <div class="post-display" style="margin-bottom:50px">
        {% for follow_request in follow_requests %}
        <div class="post">
            <a href="/user/{{request.follower.id}}">
                {{follow_request.follower.username}}<br>
                {{follow_request.follower.first_name}}<br>
                {{follow_request.follower.last_name}}<br>
            </a>
            <!--<img src="{{request.follower.profile_image.url}}" style="width: 100px; transform: translate(100%)">-->
            <button type="button" class="button" onclick="acceptRequest('{{follow_request.follower.id}}')">Accept</button>
            
            
        </div>
        {% endfor %}
        {% for post in posts %}
            <a  class ="post" href="#"><b>{{ post.title }}</b><br>{{ post.content }}<br>
                {% if post.image %}
                    <img src="{{ post.image.url }}" style="width: 100px; transform: translate(100%)">
                {% endif %}
            </a>
        {% endfor %}
    </div>
</div>


{% endblock %}
</html>
