.info-block{
    background-color: black;
    display: flex;
    justify-content: space-around;
}

h1{
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

img{
    width: 150px;
    border-radius: 50%;
}

button{
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
}

.post-display {
    width: 50%;
    position: absolute;
}
.post-display a {
    background-color: #ffffff;
    color: black;
    display: block;
    padding: 10px;
    text-decoration: none;
    border-style: solid;
    border-width: thin;
    box-sizing: border-box;
}
.post-display a:hover {
    background-color: #ddd6f3;
}

.user-display {
    width: 50%;
    position: absolute;
}
.user-display a {
    background-color: #ffffff;
    color: black;
    display: block;
    padding: 10px;
    text-decoration: none;
    border-style: solid;
    border-width: thin;
    box-sizing: border-box;
}
.user-display a:hover {
    background-color: #ddd6f3;
}

.profile{
    display: flex;
    flex-direction: column;
}