{% extends 'postContent/base.html' %}
{% load static %}
{% load markdownify %}

{% block content %}
<html>  
<head> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>  
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/postContent/postContent.css' %}">
</head>  
<body>  
    <div class="mainPost">
        <div>
            <a href="../" style="color: black;">
                <i style="font-size: 2em" class="material-icons">arrow_back</i>
            </a>
            <h1 style="display: inline-block; padding-left: 1em;">Post</h1>
        </div>
        <div class="userHeader">
            <div style="display:flex; align-items: center;">
                <img id="profilePicture" src="/media/{{ profilePic }}" alt="profilePic">
                <a href="{% url 'viewUser' userID=username %}?url={{ authorurl }}" id="username">{{ post.author }}</a>
            </div>
            {% if ownPost %}
                <a href="{% url 'editPost' %}?id={{ post.id }}">
                    <i style="font-size: 2em" class="material-icons">create</i>
                </a>
            {% endif %}
        </div>
        {% if post.content_type == "TEXT"%}
        <div class="mainContent">
            <p>
                {{ content }}
            </p>
        </div>
        {% elif post.content_type == 'MD' %}
        <div class="mainContent">
            <p>
                {{ content | markdownify }}
            </p>
            </div>
        {% else %}
        {{post.content_type}}
        <div class="imgContainer">
            <img src="/media/{{ img }}" alt="mainImage" style="width: 100%;">
        </div>
        {% endif %}
    </div> 

    <input class="comment-box" id="comment-box" name="data-comment" type="text" placeholder="Write comment here">
    <!-- No need for links because of the onclick function call -->
    <div class="button-container">
        <a class="like-button" onclick="likePost()">
            <i class="material-icons insert-comment-icon">thumb_up</i>
        </a>
        <!-- Comment now works href val left blank so that the page automatically gets refreshed as you post your comment -->
        <a class="comment-button" href="" onclick="postComment()">
            <i class="material-icons insert-comment-icon" >insert_comment</i>
        </a>
    </div>
    <script>
        
        /* https://www.geekstrick.com/snippets/how-to-parse-cookies-in-javascript/ */
        const parseCookie = str =>
            str
            .split(';')
            .map(v => v.split('='))
            .reduce((acc, v) => {
                acc[decodeURIComponent(v[0].trim())] = decodeURIComponent(v[1].trim());
                return acc;
            }, {});

        postComment = () => {
            let comment = document.getElementById('comment-box').value
            let authorId = "{{ post.author.id }}"
            let postId = "{{ post.id }}"
            let cookies = document.cookie

            cookies = parseCookie(cookies)
            
            const data = {'author': authorId,
                'post': postId,
                'comment': comment,
                'content_type': "text/plain"};
            
            fetch(`/api/authors/${authorId}/posts/${postId}/comments/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': cookies["csrftoken"]
                },
                body: JSON.stringify(data),
            })
        }
        /* not fully functional yet */
        likePost = () => {
            let authorId = "{{ post.author.id }}"
            let userId = "{{ user.id }}"
            let postId = "{{ post.id }}"
            let authorURL = "{{ authorurl }}"
            let cookies = document.cookie

            cookies = parseCookie(cookies)
            
            const data = {
                'type': "Like",
                'author': {"id": authorURL},
                'post': postId,
                'object': `/api/authors/${authorId}/posts/${postId}`};
                
            fetch(`/api/authors/${authorId}/inbox/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': cookies["csrftoken"]
                },
                body: JSON.stringify(data),
            })
        }
    </script>
    
    <div class="comments">
        <h3>Comments</h3>
        <div class="comment">
            {% if not post.comments.all %}
                <p>No comments yet</p>
            {% else %}
                {% for comment in post.comments.all %}
                    <a href="#"><strong>{{ comment.author }}</strong></a> on {{ comment.published }}
                    <ul class="comments-list">
                        <li>
                            {{ comment.content }}
                        </li>
                    </ul>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</body>
</html>
{% endblock %}