<!doctype html>
{% extends 'postContent/base.html' %}
{% load static %}

{% block content %}
<html>  
<head> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>  
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/postContent/postContent.css' %}">
</head>  
<body>  
    <div class="mainPost">
        <div>
            <a href="../" style="color: black;">
                <i style="font-size: 2em" class="material-icons">arrow_back</i>
            </a>
            <h1 style="display: inline-block; padding-left: 1em;">Post</h1>
        </div>
        <div class="userHeader">
            <div style="display:flex; align-items: center;">
                <img id="profilePicture" src="/media/{{ profilePic }}" alt="profilePic">
                <a href="#" id="username">{{ username }}</a>
            </div>
            {% if ownPost %}
                <a href="{% url 'editPost' %}?id={{ post.id }}">
                    <i style="font-size: 2em" class="material-icons">create</i>
                </a>
            {% endif %}
        </div>
        <div class="mainContent">
            <p>
                {{ content }}
            </p>
        </div>
        <div class="imgContainer">
            <img src="/media/{{ img }}" alt="mainImage" style="width: 100%;">
        </div>
    </div> 
    <!-- Link needs to still be fixed -->
    <a class="like-button" href="?id={{ post.id }}{% url 'likePost' %} ">
        <i class="material-icons insert-comment-icon">thumb_up</i>
    </a>
    <!-- Link still needs to be fixed -->
    <a class="comment-button" href="{% url 'createComment' %}">
        <i name="post.id" class="material-icons insert-comment-icon">insert_comment</i>
    </a>
    <div class="comments">
        <h3>Comments</h3>
        <div class="comment">
            {% if not post.comments.all %}
                <p>No comments yet</p>
            {% else %}
                {% for comment in post.comments.all %}
                    <a href="#"><strong>{{ comment.author }}</strong></a> on {{ comment.published }}
                    <ul>
                        <li>
                            {{ comment.content }}
                        </li>
                    </ul>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</body>
</html>
{% endblock %}