html {
  height: 100%;
    display: flex;
    justify-content: center;
}
.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
#profilePicture {
    width: 100px;
    height: 100px !important;
    border-radius: 50%;
    display: inline-block;
    margin-right: 30px;
}
#username, a:visited {
    font-size: 1.7em;
    text-decoration: none;
    color: black;
}
.mainPost {
    border-style: solid;
    border-color: gray;
    padding: 1em;
    border-width: 1px;
    width: 75%;
}
.userHeader {
    height: 100px;
    /* margin-top: 10px; */
    border-color: blue;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.mainContent {
    font-size: 2em;
}
.imgContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.comment-box {
    width: 70%;
    margin-top: 0.5ex;
    padding: 1%;
}
.button-container {
    margin-top: 0.5ex;
}
.comment-list li {
    margin: auto;
    list-style-type: none !important;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 20px;
    word-wrap: break-word;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.commContent {
    margin-top: 10px;
    font-size: 20px;
}

.comments {
    padding-bottom: 2ex;
    text-align: center;
    margin-top: 10px;
    width: 75%;
}

.mainImage {
    margin-top: 20px;
}

.commInput {
    text-align: center;
}

.commInput button {
    border-style: solid;
    border: 2px;
}

.likeBtn {
    margin-top: 10px !important;
    margin-bottom: -10px !important;
}